body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

video {
    width: 100%;
    height: 100%;
}

#controls {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

#controls button, #controls input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#playerVideo::-webkit-media-controls {
    display: none !important;
}

#playerVideo::-moz-media-controls {
    display: none !important;
}

#playerVideo::media-controls {
    display: none !important;
}
